In [3]:
import pandas as pd
import numpy as np

funda_2018 = pd.read_csv(r"C:\Users\B.R\Documents\HvA\Master DBB\AI for Business\product3team2\data\raw\funda_2018.csv")

In [37]:
def cleaned_funda_2018(data):
    #Renaming the columns to english
    funda_2018 = data
    funda_2018 = funda_2018.fillna(0).rename(columns={'publicatieDatum':'publicationDate','postcode':'zipcode', 'koopPrijs':'sellingPrice',\
        'volledigeOmschrijving':'fullDescription','soortWoning':'houseType','categorieObject':'categoryObject', 'bouwjaar':'yearOfBuilding', \
        'indTuin':'garden','perceelOppervlakte':'parcelSurface','aantalKamers':'numberRooms','aantalBadkamers':'numberBathrooms',   'energielabelKlasse':'energylabelClass',\
        'oppervlakte':'surface','datum_ondertekening':'sellingDate'}).drop(['globalId', 'globalId.1','kantoor_naam_MD5hash'], axis=1)

    #Changing dataypes for publication date and selling date
    funda_2018['publicationDate'] = pd.to_datetime(funda_2018['publicationDate'])
    funda_2018['sellingDate'] = pd.to_datetime(funda_2018['sellingDate'])
    
    
    #HOUSETYPE AND CATEGORYOBJECT: SEPERATE THE VARIABALES WITH COMMA'S AND REMOVE THE BRACKETS
    funda_2018['houseType'] = funda_2018['houseType'].str.replace('<', "").str.replace('{', "").str.replace('}', "").str.replace('>', "")
    funda_2018['categoryObject'] = funda_2018['categoryObject'].str.replace('<', "").str.replace('{', "").str.replace('}', "").str.replace('>', "")
    funda_2018['fullDescription'] = funda_2018['fullDescription'].str.replace("\n", "")

             
    #Calculation of sellingtime and adding the column
    funda_2018['sellingTime'] = pd.to_datetime(funda_2018['sellingDate']) - pd.to_datetime(funda_2018['publicationDate'])
    funda_2018['sellingTime'] = funda_2018['sellingTime'].apply(lambda x: int(x.days))

    #Replace the 0 in Parcelsruface with NaN
    funda_2018['parcelSurface'] = funda_2018['parcelSurface'].replace(0.0, np.nan)
    
    #CALCULATE THE MEAN OF VERY OLD YEAR OF BUILDINGS
    def mean_yearofBuilding_funda_2018(date):
        date = date.replace('<{Voor}> ', '')
        date = date.replace('<{Na}> ', '')
        if '-' in date:
            date = date.split("-")
            date = (int(date[0]) + int(date[1])) / 2
            return(int(date))
        else:
            return int(date)

    
    funda_2018['yearOfBuilding'] = funda_2018['yearOfBuilding'].apply(lambda date: mean_yearofBuilding_funda_2018(date))
    
    datatypes_funda_2018 = funda_2018.dtypes

    return funda_2018

In [36]:
cleaned_funda_2018(funda_2018)

,publicationDate,zipcode,sellingPrice,fullDescription,houseType,categoryObject,yearOfBuilding,garden,parcelSurface,numberRooms,numberBathrooms,energylabelClass,surface,sellingDate,sellingTime
0,2018-07-31,1774PG,139000.0,"Ruimte, vrijheid, en altijd het water en de we...",woonboot vrijstaande woning,Woonhuis,1975,1,NaN,3,0.0,0,62,2018-11-12,104
1,2018-09-24,7481LK,209000.0,Verrassend ruime tussenwoning nabij het centru...,eengezinswoning tussenwoning,Woonhuis,1980,1,148.0,5,1.0,B,136,2018-08-30,-25
2,2018-08-02,1068MS,267500.0,- ENGLISH TRANSLATION - On the 21st of Septemb...,tussenverdieping (appartement),Appartement,2005,0,NaN,3,0.0,0,70,2018-11-23,113
3,2018-08-04,5628EN,349000.0,Wonen in een zeer royaal bemeten geschakelde 2...,eengezinswoning geschakelde 2-onder-1-kapwoning,Woonhuis,1973,1,244.0,5,0.0,0,144,2018-12-14,132
4,2018-08-05,7731TV,495000.0,Landgoed Junne is een eeuwenoud landgoed en li...,woonboerderij vrijstaande woning,Woonhuis,1900,0,4500.0,8,1.0,0,323,2018-12-06,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211612,2018-12-31,9791GD,159000.0,Ruime eengezinswoning aangeboden aan de rand v...,eengezinswoning tussenwoning,Woonhuis,1974,1,195.0,5,0.0,0,116,2019-03-07,66
211613,2018-12-31,6431GT,179000.0,Nabij centrum van Hoensbroek met al haar voorz...,eengezinswoning geschakelde 2-onder-1-kapwoning,Woonhuis,1995,1,160.0,4,1.0,0,84,2019-01-17,17
211614,2018-12-31,4051EW,391500.0,Ook de kans aangrijpen om te mogen wonen in de...,bungalow vrijstaande woning (semi-bungalow),Woonhuis,1948,1,465.0,5,0.0,0,99,2019-08-03,215
211615,2018-12-31,4043GG,375000.0,"BIEDEN VANAF â‚¬ 375.000,= kosten koperHet uitzi...",eengezinswoning 2-onder-1-kapwoning,Woonhuis,2006,1,300.0,7,1.0,A,172,2019-04-08,98
211616,2018-12-12,5036XA,395000.0,Type LariksDe twee-onder-een-kapwoningen type ...,eengezinswoning 2-onder-1-kapwoning,Woonhuis,2019,1,NaN,6,1.0,0,156,2019-01-30,49