In [125]:
# Libraries and options
# If error [No module named 'sklearn'], in terminal: conda install -c conda-forge scikit-learn
import IPython
#from sklearn.model_selection import train_test_split
#from sklearn.ensemble import RandomForestRegressor
#from sklearn.metrics import mean_absolute_error 
#%matplotlib inline
#from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#import warnings 
#warnings.filterwarnings('ignore')
#warnings.filterwarnings('ignore', category=DeprecationWarning)
#from xgboost import XGBRegressor

In [126]:
def featurize_cbs_data(crime_data, tourist_info, ):
        full_path = os.path.join(self.base_folder, 'data/raw/crime_data.csv')
        crime_data = pd.read_csv(full_path, sep=";")
        crime_data = crime_data.drop(['ID', 'SoortMisdrijf', 'Perioden'], axis=1)
        crime_data = crime_data.rename(columns={'SoortMisdrijf': 'CrimeType', 'RegioS': 'Municipalitycode', 'Perioden': 'Periods', 'TotaalGeregistreerdeMisdrijven_1': 'Total Registered Crimes', 'GeregistreerdeMisdrijvenRelatief_2': 'Registered Crimes Relative', 'GeregistreerdeMisdrijvenPer1000Inw_3': 'Registered CrimesPer1000Inw', 'TotaalOpgehelderdeMisdrijven_4': 'TotalClearedCrimes', 'OpgehelderdeMisdrijvenRelatief_5': 'ClearedCrimesRelative', 'RegistratiesVanVerdachten_6': 'RegistrationsofSuspects'})
        print('ID, SoortMisdrijf & Perioden successfully dropped')
        crime_data = crime_data.replace(0.0, np.nan)
        crime_data = crime_data.replace(0, np.nan)
        crime_data = crime_data.replace("       .", np.nan)
        crime_data = crime_data.replace("         .", np.nan)
        print('All the zero values are replaced with NaN')
        type_dict = {'Municipalitycode': 'string',
                'Registered CrimesPer1000Inw':'float',
                }

        for k,v in type_dict.items():
                crime_data = crime_data.astype({k: v})

        full_path = os.path.join(self.base_folder, 'data/raw/tourist_info.csv')
        tourist_info = pd.read_csv(full_path, sep=";")
        tourist_info = tourist_info.rename(columns={'WoonlandVanGasten': 'Residential Land Of Guests', 'RegioS': 'Municipalitycode', 'Perioden': 'Periods', 'Gasten_1': 'Guests', 'Overnachtingen_2': 'Overnights'})
        tourist_info = tourist_info.drop(['ID', 'Residential Land Of Guests', 'Periods'], axis=1)
        print('ID, Residential Land Of Guests & Periods successfully dropped')
        tourist_info = tourist_info.replace(0.0, np.nan)
        tourist_info = tourist_info.replace(0, np.nan)
        print('All the zero values are replaced with NaN')
        type_dict = {'Municipalitycode': 'string',
                'Guests':'float',
                }

        for k,v in type_dict.items():
                tourist_info = tourist_info.astype({k: v})

        full_path = os.path.join(self.base_folder, 'data', 'raw', 'CBS_data.csv')
        cbs_data_old = pd.read_csv(full_path, sep=";")
        cbs_data_old = cbs_data_old.drop(['ID', 'Gemeentenaam_1', 'Codering_3'], axis=1)
        cbs_data_old = cbs_data_old.rename(columns={'WijkenEnBuurten':'Municipalitycode','Gemeentenaam_1':'NameOfMunicipality','Mannen_6':'NumberOfMen',
'Vrouwen_7':'NumberOfWomen','k_0Tot15Jaar_8':'AgeFrom0to15years','k_15Tot25Jaar_9':'AgeFrom15to25years',
'k_25Tot45Jaar_10' : 'AgeFrom25to45years','k_45Tot65Jaar_11' : 'AgeFrom45to65years','k_65JaarOfOuder_12' : 'AgeFrom65AndOlder',
'Bevolkingsdichtheid_33' : 'PopulationDensity','Woningvoorraad_34' : 'HousingStock','PercentageBewoond_38' : 'PercentageInhabited',
'PercentageOnbewoond_39' : 'PercentageUninhabited','Koopwoningen_40' : 'OwnerOccupiedHouses','HuurwoningenTotaal_41' : 'RentalHouses',
'BouwjaarVoor2000_45' : 'ConstructionYearBefore2000','BouwjaarVanaf2000_46' : 'ConstructionYearAfter2000',
'GemiddeldInkomenPerInwoner_66' : 'AverageIncomePerCitizen','MeestVoorkomendePostcode_103' : 'MostCommonPostalCode','Dekkingspercentage_104' : 'CoveragePercentage'})
        print('ID, Gemeentenaam_1 & Codering_3 succesfully dropped')
        cbs_data_old = cbs_data_old.replace("       .", np.nan)
        cbs_data_old = cbs_data_old.replace("         .", np.nan)
        type_dict = {'Municipalitycode': 'string',
                'PopulationDensity':'float',
                'PercentageInhabited':'float',
                'PercentageUninhabited':'float',
                'OwnerOccupiedHouses':'float',
                'RentalHouses':'float',
                'ConstructionYearBefore2000':'float',
                'ConstructionYearAfter2000':'float',
                'AverageIncomePerCitizen':'float',
                'MostCommonPostalCode':'string',
                'CoveragePercentage':'float',
                }

        for k,v in type_dict.items():
                cbs_data_old = cbs_data_old.astype({k: v})

        print("Counting the NaN values in the columns Men, Women and their Ages\n")
        print("Number of null values in column NumberOfMen : " + 
        str(cbs_data_old['NumberOfMen'].isnull().sum())) 
        print("Number of null values in column NumberOfWomen: " + 
        str(cbs_data_old['NumberOfWomen'].isnull().sum()))
        print("Number of null values in column AgeFrom0to15years : " + 
        str(cbs_data_old['AgeFrom0to15years'].isnull().sum())) 
        print("Number of null values in column AgeFrom15to25years : " + 
        str(cbs_data_old['AgeFrom15to25years'].isnull().sum())) 
        print("Number of null values in column AgeFrom25to45years: " + 
        str(cbs_data_old['AgeFrom25to45years'].isnull().sum()))
        print("Number of null values in column AgeFrom45to65years : " + 
        str(cbs_data_old['AgeFrom45to65years'].isnull().sum()))
        print("Number of null values in column AgeFrom65AndOlder : " + 
        str(cbs_data_old['AgeFrom65AndOlder'].isnull().sum()))  

        
        print("Counting all the NaN values in all the columns for the Crime Data File")
        display(crime_data.isnull().sum())
        print("Counting all the NaN values in all the columns for the Tourist Info File")
        display(tourist_info.isnull().sum()) 
        print("Counting all the NaN values in all the columns for the CBS File")
        display(cbs_data_old.isnull().sum()) 

        print("Check Data Types of CrimeData, TouristInfo & CSB")
        crime_data.dtypes
        tourist_info.dtypes
        cbs_data_old.dtypes

        print("Check the MEAN of all the columns of the CBS File")
        cbs_data_old.mean()

        #Fill NAN with Mean & Print new data set called cbs_data
        cbs_data = cbs_data_old.fillna(cbs_data_old.mean())
        print("The NaN Values have been replaced with the mean of the columns")
        cbs_data

        print("Confirming that all the NAN values are gone")
        display(cbs_data.isnull().sum()) 
        
        #Merge TouristData & CrimeData together on key 'Municipalitycode'
        merge1 = (pd.merge(crime_data, tourist_info, on='Municipalitycode'))

        #Merge CBS Data with Merge1 and make a complete df of all the data
        all_data = cbs_data.merge(merge1, on='Municipalitycode', how='inner').sort_values(['Municipalitycode'])

        print(all_data)
        
        return crime_data, tourist_info, cbs_data_old

In [115]:
    def featurize_cbs_data(crime_data, tourist_info, ):
        full_path = os.path.join(self.base_folder, 'data/raw/crime_data.csv')
        crime_data = pd.read_csv(full_path, sep=";")
        crime_data = crime_data.drop(['ID', 'SoortMisdrijf', 'Perioden'], axis=1)
        crime_data = crime_data.rename(columns={'SoortMisdrijf': 'CrimeType', 'RegioS': 'Municipalitycode', 'Perioden': 'Periods', 'TotaalGeregistreerdeMisdrijven_1': 'Total Registered Crimes', 'GeregistreerdeMisdrijvenRelatief_2': 'Registered Crimes Relative', 'GeregistreerdeMisdrijvenPer1000Inw_3': 'Registered CrimesPer1000Inw', 'TotaalOpgehelderdeMisdrijven_4': 'TotalClearedCrimes', 'OpgehelderdeMisdrijvenRelatief_5': 'ClearedCrimesRelative', 'RegistratiesVanVerdachten_6': 'RegistrationsofSuspects'})
        print('ID, SoortMisdrijf & Perioden successfully dropped')
        crime_data = crime_data.replace(0.0, np.nan)
        crime_data = crime_data.replace(0, np.nan)
        crime_data = crime_data.replace("       .", np.nan)
        crime_data = crime_data.replace("         .", np.nan)
        print('All the zero values are replaced with NaN')
        type_dict = {'Municipalitycode': 'string',
                'Registered CrimesPer1000Inw':'float',
                }

        for k,v in type_dict.items():
                crime_data = crime_data.astype({k: v})

        full_path = os.path.join(self.base_folder, 'data/raw/tourist_info.csv')
        tourist_info = pd.read_csv(full_path, sep=";")
        tourist_info = tourist_info.rename(columns={'WoonlandVanGasten': 'Residential Land Of Guests', 'RegioS': 'Municipalitycode', 'Perioden': 'Periods', 'Gasten_1': 'Guests', 'Overnachtingen_2': 'Overnights'})
        tourist_info = tourist_info.drop(['ID', 'Residential Land Of Guests', 'Periods'], axis=1)
        print('ID, Residential Land Of Guests & Periods successfully dropped')
        tourist_info = tourist_info.replace(0.0, np.nan)
        tourist_info = tourist_info.replace(0, np.nan)
        print('All the zero values are replaced with NaN')
        type_dict = {'Municipalitycode': 'string',
                'Guests':'float',
                }

        for k,v in type_dict.items():
                tourist_info = tourist_info.astype({k: v})

        full_path = os.path.join(self.base_folder, 'data', 'raw', 'CBS_data.csv')
        cbs_data_old = pd.read_csv(full_path, sep=";")
        cbs_data_old = cbs_data_old.drop(['ID', 'Gemeentenaam_1', 'Codering_3'], axis=1)
        cbs_data_old = cbs_data_old.rename(columns={'WijkenEnBuurten':'Municipalitycode','Gemeentenaam_1':'NameOfMunicipality','Mannen_6':'NumberOfMen',
'Vrouwen_7':'NumberOfWomen','k_0Tot15Jaar_8':'AgeFrom0to15years','k_15Tot25Jaar_9':'AgeFrom15to25years',
'k_25Tot45Jaar_10' : 'AgeFrom25to45years','k_45Tot65Jaar_11' : 'AgeFrom45to65years','k_65JaarOfOuder_12' : 'AgeFrom65AndOlder',
'Bevolkingsdichtheid_33' : 'PopulationDensity','Woningvoorraad_34' : 'HousingStock','PercentageBewoond_38' : 'PercentageInhabited',
'PercentageOnbewoond_39' : 'PercentageUninhabited','Koopwoningen_40' : 'OwnerOccupiedHouses','HuurwoningenTotaal_41' : 'RentalHouses',
'BouwjaarVoor2000_45' : 'ConstructionYearBefore2000','BouwjaarVanaf2000_46' : 'ConstructionYearAfter2000',
'GemiddeldInkomenPerInwoner_66' : 'AverageIncomePerCitizen','MeestVoorkomendePostcode_103' : 'MostCommonPostalCode','Dekkingspercentage_104' : 'CoveragePercentage'})
        print('ID, Gemeentenaam_1 & Codering_3 succesfully dropped')
        cbs_data_old = cbs_data_old.replace("       .", np.nan)
        cbs_data_old = cbs_data_old.replace("         .", np.nan)
        type_dict = {'Municipalitycode': 'string',
                'PopulationDensity':'float',
                'PercentageInhabited':'float',
                'PercentageUninhabited':'float',
                'OwnerOccupiedHouses':'float',
                'RentalHouses':'float',
                'ConstructionYearBefore2000':'float',
                'ConstructionYearAfter2000':'float',
                'AverageIncomePerCitizen':'float',
                'MostCommonPostalCode':'string',
                'CoveragePercentage':'float',
                }

        for k,v in type_dict.items():
                cbs_data_old = cbs_data_old.astype({k: v})


        

        return crime_data, tourist_info, cbs_data_old

In [127]:
dataloader = DataLoader(base_folder='/Users/eaowusu/Documents/Amsterdam University of Applied Science/COLLEGE YEAR 2020 l 2021/DDB - COURSES 2020 l 2021/BLOCK 2/Artificial Intelligence for Business/Team2-Know How to Google/product3team2')

print('The Crime Data File:')
crime_data = dataloader.load_crime_data()
print("\n")
print('The Tourist Data File:')
tourist_info = dataloader.load_tourist_info()
print("\n")
print('The CBS Data File:')
cbs_data_old = dataloader.load_cbs_data()

The Crime Data File:
ID, SoortMisdrijf & Perioden successfully dropped
All the zero values are replaced with NaN


The Tourist Data File:
ID, Residential Land Of Guests & Periods successfully dropped
All the zero values are replaced with NaN


The CBS Data File:
ID, Gemeentenaam_1 & Codering_3 succesfully dropped

In [128]:
crime_data.head(5)

,Municipalitycode,Total Registered Crimes,Registered Crimes Relative,Registered CrimesPer1000Inw,TotalClearedCrimes,ClearedCrimesRelative,RegistrationsofSuspects
0,GM1680,545.0,100.0,21.4,125.0,22.7,155.0
1,GM0738,255.0,100.0,19.5,45.0,16.8,50.0
2,GM0358,1135.0,100.0,36.0,280.0,24.7,325.0
3,GM0197,505.0,100.0,18.7,180.0,35.3,215.0
4,GM0305,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
tourist_info.head(5)

  Municipalitycode  Guests  Overnights
0           GM0363  8577.0     16673.0
1           GM0599  1261.0      2043.0
2           GM0518  1079.0      1754.0
3           GM0344   441.0       689.0
4           GM0935   698.0      1157.0

In [130]:
cbs_data_old.head(5)

,Municipalitycode,NumberOfMen,NumberOfWomen,AgeFrom0to15years,AgeFrom15to25years,AgeFrom25to45years,AgeFrom45to65years,AgeFrom65AndOlder,PopulationDensity,HousingStock,PercentageInhabited,PercentageUninhabited,OwnerOccupiedHouses,RentalHouses,ConstructionYearBefore2000,ConstructionYearAfter2000,AverageIncomePerCitizen,MostCommonPostalCode,CoveragePercentage
0,NL00,8527041,8654043,2762624,2116813,4222614,4839917,3239116,510.0,7740984,96.0,4.0,57.0,42.0,85.0,15.0,26.0,<NA>,NaN
1,GM1680,12666,12724,3531,2571,4398,8396,6494,92.0,11165,95.0,5.0,73.0,25.0,90.0,10.0,26.1,<NA>,NaN
2,WK168000,1735,1825,570,335,610,1170,860,243.0,1595,96.0,4.0,73.0,23.0,89.0,11.0,27.2,<NA>,NaN
3,BU16800000,1660,1755,560,320,595,1100,830,1354.0,1532,96.0,4.0,72.0,24.0,90.0,10.0,26.4,9468,1.0
4,BU16800009,75,70,10,10,15,70,30,12.0,63,94.0,6.0,98.0,2.0,68.0,32.0,NaN,9468,1.0

In [131]:
print("Counting the NaN values in the columns Men, Women and their Ages\n")

print("Number of null values in column NumberOfMen : " + 
       str(cbs_data_old['NumberOfMen'].isnull().sum())) 
print("Number of null values in column NumberOfWomen: " + 
       str(cbs_data_old['NumberOfWomen'].isnull().sum()))
print("Number of null values in column AgeFrom0to15years : " + 
       str(cbs_data_old['AgeFrom0to15years'].isnull().sum())) 
print("Number of null values in column AgeFrom15to25years : " + 
       str(cbs_data_old['AgeFrom15to25years'].isnull().sum())) 
print("Number of null values in column AgeFrom25to45years: " + 
       str(cbs_data_old['AgeFrom25to45years'].isnull().sum()))
print("Number of null values in column AgeFrom45to65years : " + 
       str(cbs_data_old['AgeFrom45to65years'].isnull().sum()))
print("Number of null values in column AgeFrom65AndOlder : " + 
       str(cbs_data_old['AgeFrom65AndOlder'].isnull().sum()))

Counting the NaN values in the columns Men, Women and their Ages

Number of null values in column NumberOfMen : 0
Number of null values in column NumberOfWomen: 0
Number of null values in column AgeFrom0to15years : 0
Number of null values in column AgeFrom15to25years : 0
Number of null values in column AgeFrom25to45years: 0
Number of null values in column AgeFrom45to65years : 0
Number of null values in column AgeFrom65AndOlder : 0

In [132]:
print("Counting all the NaN values in all the columns for the CBS File")
display(cbs_data_old.isnull().sum())

Counting all the NaN values in all the columns for the CBS File

Municipalitycode                  0
NumberOfMen                       0
NumberOfWomen                     0
AgeFrom0to15years                 0
AgeFrom15to25years                0
AgeFrom25to45years                0
AgeFrom45to65years                0
AgeFrom65AndOlder                 0
PopulationDensity               637
HousingStock                      0
PercentageInhabited            1528
PercentageUninhabited          1528
OwnerOccupiedHouses            1551
RentalHouses                   1551
ConstructionYearBefore2000     1528
ConstructionYearAfter2000      1528
AverageIncomePerCitizen       12690
MostCommonPostalCode           3540
CoveragePercentage             3540
dtype: int64

In [133]:
print("Counting all the NaN values in all the columns for the Crime Data File")
display(crime_data.isnull().sum())

Counting all the NaN values in all the columns for the Crime Data File

Municipalitycode                   0
Total Registered Crimes        19133
Registered Crimes Relative     22800
Registered CrimesPer1000Inw    17706
TotalClearedCrimes             22527
ClearedCrimesRelative          22527
RegistrationsofSuspects        21610
dtype: int64

In [134]:
print("Counting all the NaN values in all the columns for the Tourist Info File")
display(tourist_info.isnull().sum())

Counting all the NaN values in all the columns for the Tourist Info File

Municipalitycode     0
Guests              34
Overnights          34
dtype: int64

In [135]:
crime_data.dtypes

Municipalitycode                string
Total Registered Crimes        float64
Registered Crimes Relative     float64
Registered CrimesPer1000Inw    float64
TotalClearedCrimes             float64
ClearedCrimesRelative          float64
RegistrationsofSuspects        float64
dtype: object

In [136]:
tourist_info.dtypes

Municipalitycode     string
Guests              float64
Overnights          float64
dtype: object

In [137]:
cbs_data_old.dtypes

Municipalitycode               string
NumberOfMen                     int64
NumberOfWomen                   int64
AgeFrom0to15years               int64
AgeFrom15to25years              int64
AgeFrom25to45years              int64
AgeFrom45to65years              int64
AgeFrom65AndOlder               int64
PopulationDensity             float64
HousingStock                    int64
PercentageInhabited           float64
PercentageUninhabited         float64
OwnerOccupiedHouses           float64
RentalHouses                  float64
ConstructionYearBefore2000    float64
ConstructionYearAfter2000     float64
AverageIncomePerCitizen       float64
MostCommonPostalCode           string
CoveragePercentage            float64
dtype: object

In [138]:
cbs_data_old.mean()

NumberOfMen                   2032.896912
NumberOfWomen                 2063.217028
AgeFrom0to15years              658.833651
AgeFrom15to25years             504.788397
AgeFrom25to45years            1007.003816
AgeFrom45to65years            1154.237956
AgeFrom65AndOlder              772.468519
PopulationDensity             2820.796901
HousingStock                  1846.168376
PercentageInhabited             94.242981
PercentageUninhabited            5.762923
OwnerOccupiedHouses             67.275146
RentalHouses                    31.703305
ConstructionYearBefore2000      84.193519
ConstructionYearAfter2000       15.811073
AverageIncomePerCitizen         25.863057
CoveragePercentage               1.244559
dtype: float64

In [139]:
#Fill NAN with Mean
cbs_data = cbs_data_old.fillna(cbs_data_old.mean())

#Print new data set
print("The NaN Values have been replaced with the mean of the columns")
cbs_data

The NaN Values have been replaced with the mean of the columns

,Municipalitycode,NumberOfMen,NumberOfWomen,AgeFrom0to15years,AgeFrom15to25years,AgeFrom25to45years,AgeFrom45to65years,AgeFrom65AndOlder,PopulationDensity,HousingStock,PercentageInhabited,PercentageUninhabited,OwnerOccupiedHouses,RentalHouses,ConstructionYearBefore2000,ConstructionYearAfter2000,AverageIncomePerCitizen,MostCommonPostalCode,CoveragePercentage
0,NL00,8527041,8654043,2762624,2116813,4222614,4839917,3239116,510.0,7740984,96.0,4.0,57.0,42.0,85.0,15.0,26.000000,<NA>,1.244559
1,GM1680,12666,12724,3531,2571,4398,8396,6494,92.0,11165,95.0,5.0,73.0,25.0,90.0,10.0,26.100000,<NA>,1.244559
2,WK168000,1735,1825,570,335,610,1170,860,243.0,1595,96.0,4.0,73.0,23.0,89.0,11.0,27.200000,<NA>,1.244559
3,BU16800000,1660,1755,560,320,595,1100,830,1354.0,1532,96.0,4.0,72.0,24.0,90.0,10.0,26.400000,9468,1.000000
4,BU16800009,75,70,10,10,15,70,30,12.0,63,94.0,6.0,98.0,2.0,68.0,32.0,25.863057,9468,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16767,BU01935150,1575,1580,670,340,740,1080,315,6691.0,1192,99.0,1.0,78.0,22.0,100.0,0.0,25.000000,8014,1.000000
16768,BU01935160,50,50,25,5,15,45,0,236.0,22,95.0,5.0,82.0,14.0,5.0,95.0,25.863057,8015,3.000000
16769,WK019352,450,465,145,95,145,300,215,83.0,293,98.0,2.0,78.0,22.0,82.0,18.0,25.863057,<NA>,1.244559
16770,BU01935200,195,205,75,45,95,120,55,758.0,154,99.0,1.0,77.0,23.0,77.0,23.0,25.863057,8015,1.000000
16771,BU01935210,255,255,70,50,50,175,160,49.0,139,97.0,3.0,79.0,20.0,87.0,13.0,25.863057,8015,2.000000

In [140]:
print("Confirming that all the NAN values are gone")
display(cbs_data.isnull().sum())

Confirming that all the NAN values are gone

Municipalitycode                 0
NumberOfMen                      0
NumberOfWomen                    0
AgeFrom0to15years                0
AgeFrom15to25years               0
AgeFrom25to45years               0
AgeFrom45to65years               0
AgeFrom65AndOlder                0
PopulationDensity                0
HousingStock                     0
PercentageInhabited              0
PercentageUninhabited            0
OwnerOccupiedHouses              0
RentalHouses                     0
ConstructionYearBefore2000       0
ConstructionYearAfter2000        0
AverageIncomePerCitizen          0
MostCommonPostalCode          3540
CoveragePercentage               0
dtype: int64

In [141]:
merge1 = (pd.merge(crime_data, tourist_info, on='Municipalitycode'))

In [142]:
#Remode empty spaces in cell of Municipality
cbs_data['Municipalitycode'] = cbs_data['Municipalitycode'].str.strip()

In [143]:
all_data = cbs_data.merge(merge1, on='Municipalitycode', how='inner').sort_values(['Municipalitycode'])

In [144]:
all_data.head()

,Municipalitycode,NumberOfMen,NumberOfWomen,AgeFrom0to15years,AgeFrom15to25years,AgeFrom25to45years,AgeFrom45to65years,AgeFrom65AndOlder,PopulationDensity,HousingStock,...,MostCommonPostalCode,CoveragePercentage,Total Registered Crimes,Registered Crimes Relative,Registered CrimesPer1000Inw,TotalClearedCrimes,ClearedCrimesRelative,RegistrationsofSuspects,Guests,Overnights
27449,GM0344,169974,177509,59902,53984,124869,73000,35728,3703.0,150831,...,<NA>,1.244559,75.0,NaN,NaN,60.0,78.4,70.0,2.0,3.0
24408,GM0344,169974,177509,59902,53984,124869,73000,35728,3703.0,150831,...,<NA>,1.244559,155.0,1.0,0.4,95.0,61.9,240.0,3.0,4.0
24407,GM0344,169974,177509,59902,53984,124869,73000,35728,3703.0,150831,...,<NA>,1.244559,155.0,1.0,0.4,95.0,61.9,240.0,41.0,63.0
24406,GM0344,169974,177509,59902,53984,124869,73000,35728,3703.0,150831,...,<NA>,1.244559,155.0,1.0,0.4,95.0,61.9,240.0,1.0,1.0
24405,GM0344,169974,177509,59902,53984,124869,73000,35728,3703.0,150831,...,<NA>,1.244559,155.0,1.0,0.4,95.0,61.9,240.0,23.0,36.0

In [145]:
all_data[all_data.Municipalitycode.str.contains('GM')]

,Municipalitycode,NumberOfMen,NumberOfWomen,AgeFrom0to15years,AgeFrom15to25years,AgeFrom25to45years,AgeFrom45to65years,AgeFrom65AndOlder,PopulationDensity,HousingStock,...,MostCommonPostalCode,CoveragePercentage,Total Registered Crimes,Registered Crimes Relative,Registered CrimesPer1000Inw,TotalClearedCrimes,ClearedCrimesRelative,RegistrationsofSuspects,Guests,Overnights
27449,GM0344,169974,177509,59902,53984,124869,73000,35728,3703.0,150831,...,<NA>,1.244559,75.0,NaN,NaN,60.0,78.4,70.0,2.0,3.0
24408,GM0344,169974,177509,59902,53984,124869,73000,35728,3703.0,150831,...,<NA>,1.244559,155.0,1.0,0.4,95.0,61.9,240.0,3.0,4.0
24407,GM0344,169974,177509,59902,53984,124869,73000,35728,3703.0,150831,...,<NA>,1.244559,155.0,1.0,0.4,95.0,61.9,240.0,41.0,63.0
24406,GM0344,169974,177509,59902,53984,124869,73000,35728,3703.0,150831,...,<NA>,1.244559,155.0,1.0,0.4,95.0,61.9,240.0,1.0,1.0
24405,GM0344,169974,177509,59902,53984,124869,73000,35728,3703.0,150831,...,<NA>,1.244559,155.0,1.0,0.4,95.0,61.9,240.0,23.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16777,GM0935,58767,63956,12961,23745,29028,31558,25431,2192.0,61955,...,<NA>,1.244559,5.0,NaN,NaN,NaN,NaN,NaN,276.0,493.0
16778,GM0935,58767,63956,12961,23745,29028,31558,25431,2192.0,61955,...,<NA>,1.244559,5.0,NaN,NaN,NaN,NaN,NaN,232.0,406.0
16779,GM0935,58767,63956,12961,23745,29028,31558,25431,2192.0,61955,...,<NA>,1.244559,5.0,NaN,NaN,NaN,NaN,NaN,65.0,107.0
16773,GM0935,58767,63956,12961,23745,29028,31558,25431,2192.0,61955,...,<NA>,1.244559,5.0,NaN,NaN,5.0,75.0,5.0,1.0,2.0
16012,GM0935,58767,63956,12961,23745,29028,31558,25431,2192.0,61955,...,<NA>,1.244559,NaN,NaN,0.0,NaN,NaN,NaN,1.0,3.0

In [ ]:
def featurize_cbs_data(crime_data, tourist_info, cbs_data_old):
    #Here I fill NAN values with the MEAN and I printed a new data set called cbs_data

    cbs_data = cbs_data_old.fillna(cbs_data_old())
    cbs_data['Municipalitycode'] = cbs_data['Municipalitycode'].str.strip()

    #Here I merged the other data sets TouristData & Crimedata together on the key 'Municipalitycode'
    merge1 = (pd.merge(crime_data, tourist_info, on='Municipalitycode'))

    #Here I merged the dataset cbs_data with Merge1 and make a complete datasett of all the data
    all_data = cbs_data.merge(merge1, on='Municipalitycode', how='inner').sort_values(['Municipalitycode'])
    
    return all_data