In [227]:
import pandas as pd
import os

In [228]:
class DataLoader(object):

       def __init__(self, base_folder):
              self.base_folder = base_folder

       def load_labour_market_info(self):
              full_path = os.path.join(self.base_folder, 'data/raw/labour_market_info.csv')
              data = pd.read_csv(full_path, sep=";")
              data = data.rename(columns={'Onderwijsvolgend': 'Educational', 'KenmerkenArbeid': 'Characteristics Labor', 'Uitkering': 'Payment', 'IngeschrevenUWVWerkbedrijf':'RegisteredUWVWerkbedrijf', 'RegioS': 'Municipalitycode', 'Perioden': 'Periods', 'Jongeren15Tot27Jaar_1':'Youth15To27Year' })
              return data

       def load_crime_data(self):
              full_path = os.path.join(self.base_folder, 'data/raw/crime_data.csv')
              data = pd.read_csv(full_path, sep=";")
              data = data.rename(columns={'SoortMisdrijf': 'CrimeType', 'RegioS': 'Municipalitycode', 'Perioden': 'Periods', 'TotaalGeregistreerdeMisdrijven_1': 'Total Registered Crimes', 'GeregistreerdeMisdrijvenRelatief_2': 'Registered Crimes Relative', 'GeregistreerdeMisdrijvenPer1000Inw_3': 'Registered CrimesPer1000Inw', 'TotaalOpgehelderdeMisdrijven_4': 'TotalClearedCrimes', 'OpgehelderdeMisdrijvenRelatief_5': 'ClearedCrimesRelative', 'RegistratiesVanVerdachten_6': 'RegistrationsofSuspects'})
              return data

       def load_tourist_info(self):
              full_path = os.path.join(self.base_folder, 'data/raw/tourist_info.csv')
              data = pd.read_csv(full_path, sep=";")
              #print(data)
              data = data.rename(columns={'WoonlandVanGasten': 'Residential Land Of Guests', 'RegioS': 'Municipalitycode', 'Perioden': 'Periods', 'Gasten_1': 'Guests', 'Overnachtingen_2': 'Overnights'})
              return data

In [229]:
dataloader = DataLoader(base_folder='/Users/eaowusu/Documents/Documents 2/Amsterdam University of Applied Science/COLLEGE YEAR 2020 l 2021/DDB - COURSES 2020 l 2021/BLOCK 2/Artificial Intelligence for Business/Team2-Know How to Google/product3team2')
labour_market_info = dataloader.load_labour_market_info()
crime_data = dataloader.load_crime_data()
tourist_info = dataloader.load_tourist_info()

In [230]:
tourist_info.head()

,ID,Residential Land Of Guests,Municipalitycode,Periods,Guests,Overnights
0,3476,T001047,GM0363,2018JJ00,8577,16673
1,3622,T001047,GM0599,2018JJ00,1261,2043
2,3768,T001047,GM0518,2018JJ00,1079,1754
3,3914,T001047,GM0344,2018JJ00,441,689
4,4060,T001047,GM0935,2018JJ00,698,1157

In [231]:
labour_market_info.head()

,ID,Educational,Characteristics Labor,Payment,RegisteredUWVWerkbedrijf,Municipalitycode,Periods,Youth15To27Year
0,811,T001144,T001095,T001410,T001266,GM1680,2018JJ00,3000
1,825,T001144,T001095,T001410,T001266,GM0358,2018JJ00,4300
2,839,T001144,T001095,T001410,T001266,GM0197,2018JJ00,3500
3,853,T001144,T001095,T001410,T001266,GM0059,2018JJ00,3900
4,867,T001144,T001095,T001410,T001266,GM0482,2018JJ00,3000

In [232]:
crime_data.head()

,ID,CrimeType,Municipalitycode,Periods,Total Registered Crimes,Registered Crimes Relative,Registered CrimesPer1000Inw,TotalClearedCrimes,ClearedCrimesRelative,RegistrationsofSuspects
0,208,T001161,GM1680,2018JJ00,545.0,100.0,21.4,125.0,22.7,155.0
1,218,T001161,GM0738,2018JJ00,255.0,100.0,19.5,45.0,16.8,50.0
2,228,T001161,GM0358,2018JJ00,1135.0,100.0,36.0,280.0,24.7,325.0
3,238,T001161,GM0197,2018JJ00,505.0,100.0,18.7,180.0,35.3,215.0
4,248,T001161,GM0305,2018JJ00,NaN,NaN,NaN,NaN,NaN,NaN