In [1]:
# Libraries and options
# If error [No module named 'sklearn'], in terminal: conda install -c conda-forge scikit-learn
import IPython
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error 
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
#from xgboost import XGBRegressor

In [2]:
class DataLoader(object):

       def __init__(self, base_folder):
              self.base_folder = base_folder

       def load_crime_data(self):
              full_path = os.path.join(self.base_folder, 'data/raw/crime_data.csv')
              data = pd.read_csv(full_path, sep=";")
              data = data.drop(['ID', 'SoortMisdrijf', 'Perioden'], axis=1)
              data = data.rename(columns={'SoortMisdrijf': 'CrimeType', 'RegioS': 'Municipalitycode', 'Perioden': 'Periods', 'TotaalGeregistreerdeMisdrijven_1': 'Total Registered Crimes', 'GeregistreerdeMisdrijvenRelatief_2': 'Registered Crimes Relative', 'GeregistreerdeMisdrijvenPer1000Inw_3': 'Registered CrimesPer1000Inw', 'TotaalOpgehelderdeMisdrijven_4': 'TotalClearedCrimes', 'OpgehelderdeMisdrijvenRelatief_5': 'ClearedCrimesRelative', 'RegistratiesVanVerdachten_6': 'RegistrationsofSuspects'})
              print('ID, SoortMisdrijf & Perioden successfully dropped')
              data = data.replace(0.0, np.nan)
              data = data.replace(0, np.nan)
              print('All the zero values are replaced with NaN')
              return data

       def load_tourist_info(self):
              full_path = os.path.join(self.base_folder, 'data/raw/tourist_info.csv')
              data = pd.read_csv(full_path, sep=";")
              data = data.rename(columns={'WoonlandVanGasten': 'Residential Land Of Guests', 'RegioS': 'Municipalitycode', 'Perioden': 'Periods', 'Gasten_1': 'Guests', 'Overnachtingen_2': 'Overnights'})
              data = data.drop(['ID', 'Residential Land Of Guests', 'Periods'], axis=1)
              print('ID, Residential Land Of Guests & Periods successfully dropped')
              data = data.replace(0.0, np.nan)
              data = data.replace(0, np.nan)
              print('All the zero values are replaced with NaN')
              return data

       def load_cbs_data(self):
              full_path = os.path.join(self.base_folder, 'data', 'raw', 'CBS_data.csv')
              data = pd.read_csv(full_path, sep=";")
              data = data.drop(['ID', 'Gemeentenaam_1', 'Codering_3'], axis=1)
              data = data.rename(columns={'WijkenEnBuurten':'NeighborhoodsAndDistricts','Gemeentenaam_1':'NameOfMunicipality','Mannen_6':'NumberOfMen',
    'Vrouwen_7':'NumberOfWomen','k_0Tot15Jaar_8':'AgeFrom0to15years','k_15Tot25Jaar_9':'AgeFrom15to25years',
    'k_25Tot45Jaar_10' : 'AgeFrom25to45years','k_45Tot65Jaar_11' : 'AgeFrom45to65years','k_65JaarOfOuder_12' : 'AgeFrom65AndOlder',
    'Bevolkingsdichtheid_33' : 'PopulationDensity','Woningvoorraad_34' : 'HousingStock','PercentageBewoond_38' : 'PercentageInhabited',
    'PercentageOnbewoond_39' : 'PercentageUninhabited','Koopwoningen_40' : 'OwnerOccupiedHouses','HuurwoningenTotaal_41' : 'RentalHouses',
    'BouwjaarVoor2000_45' : 'ConstructionYearBefore2000','BouwjaarVanaf2000_46' : 'ConstructionYearAfter2000',
    'GemiddeldInkomenPerInwoner_66' : 'AverageIncomePerCitizen','MeestVoorkomendePostcode_103' : 'MostCommonPostalCode','Dekkingspercentage_104' : 'CoveragePercentage'})
              print('ID, Gemeentenaam_1 & Codering_3 succesfully dropped')
              data = data.replace(0.0, np.nan)
              data = data.replace(0, np.nan)
              data = data.replace("       .", np.nan)
              data = data.replace("         .", np.nan)
              print('All the zero values are replaced with NaN')
              return data

In [3]:
dataloader = DataLoader(base_folder='/Users/eaowusu/Documents/Amsterdam University of Applied Science/COLLEGE YEAR 2020 l 2021/DDB - COURSES 2020 l 2021/BLOCK 2/Artificial Intelligence for Business/Team2-Know How to Google/product3team2')
crime_data = dataloader.load_crime_data()
tourist_info = dataloader.load_tourist_info()
cbs_data = dataloader.load_cbs_data()

ID, SoortMisdrijf & Perioden successfully dropped
All the zero values are replaced with NaN
ID, Residential Land Of Guests & Periods successfully dropped
All the zero values are replaced with NaN
ID, Gemeentenaam_1 & Codering_3 succesfully dropped
All the zero values are replaced with NaN

In [4]:
tourist_info.head(5)

  Municipalitycode  Guests  Overnights
0           GM0363  8577.0     16673.0
1           GM0599  1261.0      2043.0
2           GM0518  1079.0      1754.0
3           GM0344   441.0       689.0
4           GM0935   698.0      1157.0

In [5]:
crime_data.head(5)

,Municipalitycode,Total Registered Crimes,Registered Crimes Relative,Registered CrimesPer1000Inw,TotalClearedCrimes,ClearedCrimesRelative,RegistrationsofSuspects
0,GM1680,545.0,100.0,21.4,125.0,22.7,155.0
1,GM0738,255.0,100.0,19.5,45.0,16.8,50.0
2,GM0358,1135.0,100.0,36.0,280.0,24.7,325.0
3,GM0197,505.0,100.0,18.7,180.0,35.3,215.0
4,GM0305,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
cbs_data.head(5)

,NeighborhoodsAndDistricts,NumberOfMen,NumberOfWomen,AgeFrom0to15years,AgeFrom15to25years,AgeFrom25to45years,AgeFrom45to65years,AgeFrom65AndOlder,PopulationDensity,HousingStock,PercentageInhabited,PercentageUninhabited,OwnerOccupiedHouses,RentalHouses,ConstructionYearBefore2000,ConstructionYearAfter2000,AverageIncomePerCitizen,MostCommonPostalCode,CoveragePercentage
0,NL00,8527041.0,8654043.0,2762624.0,2116813.0,4222614.0,4839917.0,3239116.0,510,7740984.0,96,4,57,42,85,15,26.0,NaN,NaN
1,GM1680,12666.0,12724.0,3531.0,2571.0,4398.0,8396.0,6494.0,92,11165.0,95,5,73,25,90,10,26.1,NaN,NaN
2,WK168000,1735.0,1825.0,570.0,335.0,610.0,1170.0,860.0,243,1595.0,96,4,73,23,89,11,27.2,NaN,NaN
3,BU16800000,1660.0,1755.0,560.0,320.0,595.0,1100.0,830.0,1354,1532.0,96,4,72,24,90,10,26.4,9468,1
4,BU16800009,75.0,70.0,10.0,10.0,15.0,70.0,30.0,12,63.0,94,6,98,2,68,32,NaN,9468,1

In [7]:
tourist_info.dtypes

Municipalitycode     object
Guests              float64
Overnights          float64
dtype: object

In [8]:
crime_data.dtypes

Municipalitycode                object
Total Registered Crimes        float64
Registered Crimes Relative     float64
Registered CrimesPer1000Inw     object
TotalClearedCrimes             float64
ClearedCrimesRelative          float64
RegistrationsofSuspects        float64
dtype: object

In [9]:
cbs_data.dtypes

NeighborhoodsAndDistricts      object
NumberOfMen                   float64
NumberOfWomen                 float64
AgeFrom0to15years             float64
AgeFrom15to25years            float64
AgeFrom25to45years            float64
AgeFrom45to65years            float64
AgeFrom65AndOlder             float64
PopulationDensity              object
HousingStock                  float64
PercentageInhabited            object
PercentageUninhabited          object
OwnerOccupiedHouses            object
RentalHouses                   object
ConstructionYearBefore2000     object
ConstructionYearAfter2000      object
AverageIncomePerCitizen        object
MostCommonPostalCode           object
CoveragePercentage             object
dtype: object

In [ ]:
type_dict = {'Municipalitycode':'str',
                     'Registered CrimesPer1000Inw':'float',
                     }
              for k,v in type_dict.items():
                     data = data.astype({k: v})
              print('Datatypes checked and replaced if needed')

type_dict = {'Municipalitycode': 'str',
                     'Guests':'float',
                     'Overnights': 'float',
                     }
              for k,v in type_dict.items():
                     data = data.astype({k: v})
              print('Datatypes checked and replaced if needed')

type_dict = {'NeighborhoodsAndDistricts':'str',
                     'NumberOfMen':'int',
                     'NumberOfWomen':'int',
                     'AgeFrom0to15years':'int',
                     'AgeFrom15to25years':'int',
                     'AgeFrom25to45years':'int',
                     'AgeFrom45to65years':'int',
                     'AgeFrom65AndOlder':'int',
                     'PopulationDensity':'int',
                     'HousingStock':'int',
                     'PercentageInhabited':'int',
                     'PercentageUninhabited':'int',
                     'OwnerOccupiedHouses':'int',
                     'RentalHouses':'int',
                     'ConstructionYearBefore2000':'int',
                     'ConstructionYearAfter2000':'int',
                     'AverageIncomePerCitizen':'float',
                     'MostCommonPostalCode':'str',
                     'CoveragePercentage':'int',
                     }
              for k,v in type_dict.items():
                     data = data.astype({k: v})
              print('Datatypes checked and replaced if needed')